.header{
    background-color : lime;
    display:flex;
    justify-content:space-evenly;
}

.grid{
    background-color : aquamarine;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.grid2{
    background-color : aquamarine;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}


.footer{
    background-color : plum;
    display:flex;
    justify-content:flex-end;
}

h2{
     background-color : lime;
   text-align:center;
}